$light: #E4D9B5;
$dark: #51734B;

$twisted-light:#E4D9B5;
$twisted-dark: #6F4E37;


/* Handles the green block at the top of every page */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    background: $dark;
    color: $light;
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
} 

.twisted-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background: $twisted-dark;
    color: $twisted-light;
}






.logo {
    font-size: 32px;
    color: $light;
    font-weight: 700;
}

.twisted-logo {
    font-size: 32px;
    color: $twisted-light;
    font-weight: 700;
}





.logo:hover {
    color: $light;
}

.twisted-logo:hover {
    color: $twisted-dark;
}




.navbar {
    color: $light;
    font-size: 18px;
}

.navbar:hover {
    color: $light;
}


.twisted-navbar {
    color: $twisted-light;
    font-size: 18px;
}

.twisted-navbar:hover {
    color: $twisted-dark;
}






.pageName {
    color: $light;
    font-size: 30px;
    z-index: 101;
    top: 50px;
    position: sticky;
    display: flex;
    font-weight: 600;
    justify-content: center;
}

.twisted-pageName {
    color: $twisted-light;
    font-size: 30px;
    z-index: 101;
    top: 50px;
    position: sticky;
    display: flex;
    font-weight: 600;
    justify-content: center;
}

.main {
    background-color: $light;
    height: 820px;
}

.twisted-main {
    background-color: $twisted-light;
    height: 820px;
}

.play-stage {
    border:5px solid black;
    z-index: 102;
    height: 85%;
    width: 60%;
    justify-content: center;
    top: 125px;
    position: sticky;
    margin: auto;
}



.rules {
    font-size:20px;
    color: $dark;
    top: 100px;
    position:sticky;
    
}

.brew {
     font-size:20px;
     color:$dark;
     text-align: right;
     position: sticky;
     top:100px;

}

