{% extends "matcha_matches/layout.html" %}

{% block title %}
    Matcha Matches!
{% endblock %}

{% block script %}{% endblock script %}


{% block pageName %}Mini-Games{% endblock pageName %}


{% block main %}
     <div class="rules-brew">
          <p>Rules:</p>
          <div>
               Brew:
               <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
               </label>
          </div>
     </div>

{% endblock main %}